{extend name="layout/template" /}

{block name="content"}
{include file="common/top" /}
{include file="common/left" /}
<div class="content-wrapper">
    <iframe id="AdminHomeTabIframe" width="100%" style="min-height: 780px;padding: 10px;border-radius: 15px;" id="" frameborder="no" border="0" src=""></iframe>
</div>
{include file="common/footer" /}
<aside class="control-sidebar control-sidebar-dark">
    内容暂定...
</aside>
{/block}

{block name="javascript"}
<script src="/static/bootstrap/dist/js/pages/index.js"></script>
{/block}


