<aside class="main-sidebar elevation-4 sidebar-light-primary">
    <!-- Brand Logo -->
    <a href="/manage" class="brand-link">
        <img src="/static/admin/dist/img/CBMLogo.png" style="width: 29px" alt="CBM Logo" class="brand-image img-circle elevation-3">
        <span class="brand-text font-weight-light">抄表猫 - 表计管理系统</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <br/>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column left-menu" data-widget="treeview" role="menu" data-accordion="false">
               <!--菜单列表开始-->
                <li class="nav-item menu-open">
                    <a href="javascript:;" superadmin-href="/admin/index/console" superadmin-title="控制台" class="nav-link">
                        <i class="nav-icon fas fa-laptop"></i>
                        <p>
                            &nbsp;控制台
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview"> <!-- has-treeview 有下级列表-->
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            系统管理
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="javascript:;" superadmin-href="/admin/system.admin" superadmin-title="账户资源" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>管理员管理</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:;" superadmin-href="/admin/user/resource" superadmin-title="账户资源" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>菜单管理</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:;" superadmin-href="/admin/user/resource" superadmin-title="账户资源" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>角色管理</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" superadmin-href="/admin/2232323/resource" superadmin-title="账户资源" class="nav-link">
                        <i class="nav-icon fas fa-key"></i>
                        <p>User Key</p>
                    </a>
                </li>
            </ul>
            <!--菜单列表结束-->
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>